/*NAVIGATION*/

.nav-item {
    padding: 1px 30px;

}

.dropdown-menu {
    background: #7bdee6
}
/*BODY SETTINGS*/


body {
    font-family: "Merriweather", serif;
    background-color: :#e8eaea; 
    background-image: url("Images/CTSBackground.gif");
    background-repeat: none;
    background-size: 100%;
    background-attachment: fixed;
}

h3 {
    padding-top: 50px;
    padding-bottom: 12px;
    font-weight: bold;
}

.table {
    margin-top: 20px;
}

@media (max-width: 768px) {
    body {
        background-image: none;
        background-color: #e8eaea;
    }