body {
    font-family: Merriweather, serif;
    background-color:#e8eaea; 
}

.card-deck {
    margin-top: 20px; 
    margin-bottom: 20px;
}

h3 {
    margin-top: 40px;
}
.nav-item {
    padding: 7px 30px;
}

