
body {
    font-family: "Merriweather", serif;
    background-color: #e8eaea; 
    background-image: url("Images/CTSBackground.gif");
    background-repeat: none;
    background-size: 100%;
    background-attachment: fixed;
}
img {
    max-height: 480px;
    max-width: 700px;
    margin: 30px;
    width: 100%;
    height: auto;
    padding: 1px;
    border: 1px solid #021a40;
     
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
h4 {
    padding-bottom: 10px;
}
.nav-item {
    padding: 7px 30px;
}

@media (max-width: 1200px) {
    body {
        background-image: url("Images/CTSBackground-standard.gif");
        background-size:100%;
        
    }
}

@media (max-width: 768px) {
    body {
        background-image: none;
        background-color: #e8eaea;
    }
}

